### Dependencies

In [40]:
import pandas as pd
from sqlalchemy import create_engine, inspect
from db_config import password
import psycopg2
import json
import numpy as np

### Importing the CSV files

In [2]:
#Behavior_and_Attitudes
file = "./Resources/Behavior_and_Attitudes.csv"
Behavior_and_Attitudes= pd.read_csv(file)
Behavior_and_Attitudes.head()

,code,economy,year,Perceived opportunities,Perceived capabilities,Fear of failure rate *,Entrepreneurial intentions,Total early-stage Entrepreneurial Activity (TEA),Established Business Ownership,Entrepreneurial Employee Activity,Motivational Index,Female/Male TEA,Female/Male Opportunity-Driven TEA,High Job Creation Expectation,Innovation,Business Services Sector,High Status to Successful Entrepreneurs,Entrepreneurship as a Good Career Choice
0,374,Armenia,2019,53.89,70.00,48.22,32.20,20.97,7.84,0.59,NaN,0.64,NaN,30.55,NaN,7.55,73.41,87.24
1,61,Australia,2019,45.74,56.04,47.37,13.02,10.52,6.53,8.28,NaN,0.72,NaN,24.64,NaN,26.31,74.00,56.39
2,375,Belarus,2019,29.52,42.34,37.96,6.59,5.78,2.72,0.49,NaN,0.82,NaN,28.23,NaN,10.16,69.90,70.30
3,55,Brazil,2019,46.37,61.99,35.57,30.17,23.30,16.16,0.62,NaN,0.98,NaN,8.93,NaN,7.57,72.25,75.25
4,101,Canada,2019,67.08,56.80,47.17,11.86,18.16,7.44,5.40,NaN,0.71,NaN,21.18,NaN,12.24,79.90,69.21

In [3]:
#framework_conditions

df_data = pd.DataFrame(pd.read_csv("./Resources/Framework_Conditions.csv"))
df_data.head()

,code,economy,year,Financing for entrepreneurs,Governmental support and policies,Taxes and bureaucracy,Governmental programs,Basic school entrepreneurial education and training,Post school entrepreneurial education and training,R&D transfer,Commercial and professional infrastructure,Internal market dynamics,Internal market openness,Physical and services infrastructure,Cultural and social norms
0,213,Algeria,2011,2.91,3.16,2.63,3.11,2.22,2.67,2.73,3.12,3.40,2.59,3.18,2.99
1,213,Algeria,2012,3.24,3.29,2.80,3.07,2.19,3.32,2.81,2.83,3.75,3.04,3.33,3.17
2,213,Algeria,2013,3.42,3.19,2.56,2.75,2.45,3.16,2.88,2.86,4.00,2.97,3.47,3.19
3,244,Angola,2010,2.11,2.31,2.16,1.97,1.81,2.41,1.72,2.39,2.76,2.00,2.28,2.84
4,244,Angola,2012,2.74,2.74,2.19,2.16,1.93,2.24,1.71,2.65,2.94,2.15,2.28,2.94

## Data Munging

### Behaviour and Attitudes

#### No of unique countries in the Survey

In [4]:
print(f"No of unique countries in the survey : {len(Behavior_and_Attitudes['economy'].unique())}")

No of unique countries in the survey : 113

#### Understanding the Number of economies every year. 

We could see that not every country is been surveyed in all the years. 2001 was the year with minimum countries(28) in the survey and 2013 and 2014 had 70 countries participating. The latest year 2019 have 50 economies surveyed.

In [5]:
Behavior_and_Attitudes["year"].value_counts()

2014    70
2013    70
2012    67
2016    64
2015    60
2010    59
2011    55
2009    54
2017    54
2019    50
2018    49
2008    43
2007    42
2006    42
2002    37
2005    35
2004    34
2003    31
2001    28
Name: year, dtype: int64

#### Null Values

The dataset have null values in certain column and that has been identified below. The columns with null values are,
1. Fear of failure rate * 
2. Entrepreneurial intentions
3. Established Business Ownership 
4. Entrepreneurial Employee Activity
5. Motivational Index 
6. Female/Male Opportunity-Driven TEA 
7. High Job Creation Expectation
8. Innovation
9. Business Services Sector
10. High Status to Successful Entrepreneurs
11. Entrepreneurship as a Good Career Choice

In [6]:
# identifying missing values
Behavior_and_Attitudes.count()

code                                                944
economy                                             944
year                                                944
Perceived opportunities                             944
Perceived capabilities                              944
Fear of failure rate *                              943
Entrepreneurial intentions                          916
Total early-stage Entrepreneurial Activity (TEA)    944
Established Business Ownership                      943
Entrepreneurial Employee Activity                   458
Motivational Index                                  548
Female/Male TEA                                     944
Female/Male Opportunity-Driven TEA                  367
High Job Creation Expectation                       941
Innovation                                          489
Business Services Sector                            906
High Status to Successful Entrepreneurs             837
Entrepreneurship as a Good Career Choice            834
dtype: int64

### Fear of failure rate--dealing with null value

In [7]:
# Fear of failure rate has just one null value. identifying the row or economy with null value

Behavior_and_Attitudes.loc[Behavior_and_Attitudes["Fear of failure rate *"].isna()]

,code,economy,year,Perceived opportunities,Perceived capabilities,Fear of failure rate *,Entrepreneurial intentions,Total early-stage Entrepreneurial Activity (TEA),Established Business Ownership,Entrepreneurial Employee Activity,Motivational Index,Female/Male TEA,Female/Male Opportunity-Driven TEA,High Job Creation Expectation,Innovation,Business Services Sector,High Status to Successful Entrepreneurs,Entrepreneurship as a Good Career Choice
736,582,Venezuela,2007,56.04,66.24,NaN,20.68,20.16,5.39,NaN,NaN,0.72,NaN,25.62,NaN,6.72,71.7,76.57

In [8]:
# pulling all the data point related to Venezuela
Behavior_and_Attitudes.loc[Behavior_and_Attitudes["economy"]=="Venezuela"]

,code,economy,year,Perceived opportunities,Perceived capabilities,Fear of failure rate *,Entrepreneurial intentions,Total early-stage Entrepreneurial Activity (TEA),Established Business Ownership,Entrepreneurial Employee Activity,Motivational Index,Female/Male TEA,Female/Male Opportunity-Driven TEA,High Job Creation Expectation,Innovation,Business Services Sector,High Status to Successful Entrepreneurs,Entrepreneurship as a Good Career Choice
538,582,Venezuela,2011,48.45,66.86,24.15,20.23,15.43,1.57,0.63,1.52,0.88,NaN,NaN,13.44,6.49,77.26,83.06
650,582,Venezuela,2009,48.21,59.31,25.61,28.70,18.66,6.51,NaN,NaN,0.91,NaN,23.78,NaN,NaN,68.88,76.24
736,582,Venezuela,2007,56.04,66.24,NaN,20.68,20.16,5.39,NaN,NaN,0.72,NaN,25.62,NaN,6.72,71.70,76.57
813,582,Venezuela,2005,65.15,74.94,30.95,40.00,24.95,8.59,NaN,NaN,0.91,NaN,30.00,NaN,8.67,77.00,84.32
878,582,Venezuela,2003,43.04,82.14,30.73,37.28,26.81,9.63,NaN,NaN,0.88,NaN,28.36,NaN,10.08,73.01,79.67

#### Treating the one null value in Fear of Failure rate
Since there are five data points, the one null value can be filled by calculating the mean from four other fear of 
failure rate data.

In [9]:
#calculating mean failure rate

mean_ffrate=Behavior_and_Attitudes.loc[(Behavior_and_Attitudes["economy"]=="Venezuela") & (Behavior_and_Attitudes["year"]!=2007),:]["Fear of failure rate *"].mean()

print(f"The data is updated with the mean value {mean_ffrate}")

# adding it to the df

Behavior_and_Attitudes["Fear of failure rate *"]=Behavior_and_Attitudes["Fear of failure rate *"].fillna(mean_ffrate)

#Displaying the DF with the changes made

Behavior_and_Attitudes.loc[Behavior_and_Attitudes["economy"]=="Venezuela"]

The data is updated with the mean value 27.86

,code,economy,year,Perceived opportunities,Perceived capabilities,Fear of failure rate *,Entrepreneurial intentions,Total early-stage Entrepreneurial Activity (TEA),Established Business Ownership,Entrepreneurial Employee Activity,Motivational Index,Female/Male TEA,Female/Male Opportunity-Driven TEA,High Job Creation Expectation,Innovation,Business Services Sector,High Status to Successful Entrepreneurs,Entrepreneurship as a Good Career Choice
538,582,Venezuela,2011,48.45,66.86,24.15,20.23,15.43,1.57,0.63,1.52,0.88,NaN,NaN,13.44,6.49,77.26,83.06
650,582,Venezuela,2009,48.21,59.31,25.61,28.70,18.66,6.51,NaN,NaN,0.91,NaN,23.78,NaN,NaN,68.88,76.24
736,582,Venezuela,2007,56.04,66.24,27.86,20.68,20.16,5.39,NaN,NaN,0.72,NaN,25.62,NaN,6.72,71.70,76.57
813,582,Venezuela,2005,65.15,74.94,30.95,40.00,24.95,8.59,NaN,NaN,0.91,NaN,30.00,NaN,8.67,77.00,84.32
878,582,Venezuela,2003,43.04,82.14,30.73,37.28,26.81,9.63,NaN,NaN,0.88,NaN,28.36,NaN,10.08,73.01,79.67

### Entrepreneural intentions--dealing with null value

All the economies that was surveyed in 2001 might not have questions on entrepreneurial intentions and hence the datapoint is null for all 28 economies.

In [10]:
#identifying the null values

Behavior_and_Attitudes.loc[Behavior_and_Attitudes["Entrepreneurial intentions"].isna()]

,code,economy,year,Perceived opportunities,Perceived capabilities,Fear of failure rate *,Entrepreneurial intentions,Total early-stage Entrepreneurial Activity (TEA),Established Business Ownership,Entrepreneurial Employee Activity,Motivational Index,Female/Male TEA,Female/Male Opportunity-Driven TEA,High Job Creation Expectation,Innovation,Business Services Sector,High Status to Successful Entrepreneurs,Entrepreneurship as a Good Career Choice
916,54,Argentina,2001,19.83,54.80,37.17,NaN,9.92,3.92,NaN,NaN,0.38,NaN,17.81,NaN,16.72,NaN,NaN
917,61,Australia,2001,31.27,59.66,38.18,NaN,14.68,27.96,NaN,NaN,0.48,NaN,28.79,NaN,30.32,NaN,NaN
918,32,Belgium,2001,19.96,30.32,37.87,NaN,4.19,3.02,NaN,NaN,0.51,NaN,13.54,NaN,18.85,NaN,NaN
919,55,Brazil,2001,40.60,54.28,32.14,NaN,13.80,3.79,NaN,NaN,0.62,NaN,14.44,NaN,9.70,NaN,NaN
920,101,Canada,2001,34.54,53.03,26.89,NaN,10.27,3.89,NaN,NaN,0.63,NaN,12.37,NaN,27.06,NaN,NaN
921,45,Denmark,2001,45.78,40.81,23.72,NaN,7.23,4.25,NaN,NaN,0.43,NaN,3.48,NaN,43.89,NaN,NaN
922,358,Finland,2001,54.91,37.61,35.17,NaN,8.16,7.46,NaN,NaN,0.54,NaN,19.09,NaN,35.07,NaN,NaN
923,33,France,2001,6.89,20.01,28.71,NaN,5.72,1.62,NaN,NaN,0.43,NaN,8.37,NaN,24.89,NaN,NaN
924,49,Germany,2001,23.65,30.11,41.75,NaN,6.28,4.18,NaN,NaN,0.44,NaN,17.44,NaN,32.00,NaN,NaN
925,36,Hungary,2001,8.63,55.30,10.44,NaN,10.86,5.90,NaN,NaN,0.57,NaN,15.79,NaN,20.25,NaN,NaN
926,91,India,2001,30.93,39.85,33.17,NaN,10.81,8.76,NaN,NaN,0.31,NaN,7.49,NaN,5.91,NaN,NaN
927,353,Ireland,2001,34.26,46.28,40.14,NaN,11.37,4.52,NaN,NaN,0.43,NaN,20.01,NaN,21.43,NaN,NaN
928,972,Israel,2001,17.98,35.64,33.19,NaN,5.29,NaN,NaN,NaN,0.28,NaN,47.47,NaN,52.21,NaN,NaN
929,39,Italy,2001,47.85,33.36,28.00,NaN,9.11,3.60,NaN,NaN,0.97,NaN,24.96,NaN,23.68,NaN,NaN
930,81,Japan,2001,6.95,10.98,22.37,NaN,3.10,5.07,NaN,NaN,0.46,NaN,15.01,NaN,17.62,NaN,NaN
931,52,Mexico,2001,40.21,50.18,25.77,NaN,17.91,5.83,NaN,NaN,0.51,NaN,17.10,NaN,8.24,NaN,NaN
932,31,Netherlands,2001,42.49,36.52,27.31,NaN,5.87,3.75,NaN,NaN,0.50,NaN,29.82,NaN,46.86,NaN,NaN
933,64,New Zealand,2001,49.01,66.26,25.61,NaN,15.45,12.84,NaN,NaN,0.76,NaN,11.82,NaN,27.51,NaN,NaN
934,47,Norway,2001,58.75,36.43,28.88,NaN,7.40,6.51,NaN,NaN,0.45,NaN,20.31,NaN,31.88,NaN,NaN
935,48,Poland,2001,13.97,38.57,44.28,NaN,8.04,4.75,NaN,NaN,0.65,NaN,11.85,NaN,17.44,NaN,NaN
936,351,Portugal,2001,22.28,41.70,31.32,NaN,6.61,4.71,NaN,NaN,0.39,NaN,13.30,NaN,14.68,NaN,NaN
937,65,Singapore,2001,17.46,24.56,45.07,NaN,6.05,5.43,NaN,NaN,0.39,NaN,22.03,NaN,18.84,NaN,NaN
938,27,South Africa,2001,19.70,30.38,36.27,NaN,6.49,0.83,NaN,NaN,0.52,NaN,20.79,NaN,32.25,NaN,NaN
939,82,South Korea,2001,12.24,28.55,43.55,NaN,14.32,10.47,NaN,NaN,0.42,NaN,19.36,NaN,15.83,NaN,NaN
940,34,Spain,2001,48.46,48.65,36.22,NaN,6.32,4.72,NaN,NaN,0.71,NaN,12.97,NaN,22.38,NaN,NaN
941,46,Sweden,2001,42.34,44.41,31.19,NaN,5.65,5.65,NaN,NaN,0.59,NaN,25.72,NaN,34.33,NaN,NaN
942,44,United Kingdom,2001,23.00,45.96,33.24,NaN,6.49,3.35,NaN,NaN,0.39,NaN,17.46,NaN,27.53,NaN,NaN
943,1,United States,2001,34.89,60.59,21.37,NaN,11.07,5.83,NaN,NaN,0.68,NaN,26.31,NaN,30.56,NaN,NaN

### Established Business Ownership- null values

Replaced the single value with the closest data point.

In [11]:
Behavior_and_Attitudes.loc[Behavior_and_Attitudes['Established Business Ownership'].isna()]

,code,economy,year,Perceived opportunities,Perceived capabilities,Fear of failure rate *,Entrepreneurial intentions,Total early-stage Entrepreneurial Activity (TEA),Established Business Ownership,Entrepreneurial Employee Activity,Motivational Index,Female/Male TEA,Female/Male Opportunity-Driven TEA,High Job Creation Expectation,Innovation,Business Services Sector,High Status to Successful Entrepreneurs,Entrepreneurship as a Good Career Choice
928,972,Israel,2001,17.98,35.64,33.19,NaN,5.29,NaN,NaN,NaN,0.28,NaN,47.47,NaN,52.21,NaN,NaN

In [12]:
Behavior_and_Attitudes.loc[Behavior_and_Attitudes['economy']=='Israel']

,code,economy,year,Perceived opportunities,Perceived capabilities,Fear of failure rate *,Entrepreneurial intentions,Total early-stage Entrepreneurial Activity (TEA),Established Business Ownership,Entrepreneurial Employee Activity,Motivational Index,Female/Male TEA,Female/Male Opportunity-Driven TEA,High Job Creation Expectation,Innovation,Business Services Sector,High Status to Successful Entrepreneurs,Entrepreneurship as a Good Career Choice
18,972,Israel,2019,46.00,43.34,55.36,21.20,12.69,5.45,5.75,NaN,0.69,NaN,21.73,NaN,27.06,84.13,64.21
70,972,Israel,2018,56.23,41.48,47.47,26.20,12.70,4.20,7.21,3.30,0.70,1.10,22.90,32.90,7.30,84.98,65.96
121,972,Israel,2017,58.29,44.14,47.96,26.42,12.78,3.32,8.55,2.02,0.72,1.00,8.66,26.70,27.30,86.07,65.16
183,972,Israel,2016,53.69,41.10,48.65,20.61,11.31,4.00,7.30,2.60,0.71,1.15,22.10,30.40,37.37,85.50,64.20
243,972,Israel,2015,55.50,41.56,47.76,21.59,11.82,3.90,6.55,3.29,0.65,1.02,23.60,30.78,32.90,86.24,64.48
374,972,Israel,2013,46.50,36.17,51.76,23.97,10.04,5.94,NaN,2.83,0.48,1.03,23.84,34.13,31.91,80.30,60.61
445,972,Israel,2012,30.62,29.31,46.76,12.81,6.53,3.78,4.24,2.41,0.72,NaN,21.33,29.15,24.05,72.39,59.47
564,972,Israel,2010,33.88,39.94,46.71,13.45,5.02,3.25,NaN,2.24,0.50,NaN,32.10,NaN,26.90,73.23,60.12
619,972,Israel,2009,28.99,38.27,37.27,13.62,6.07,4.27,NaN,NaN,0.52,NaN,32.43,NaN,NaN,73.24,61.40
674,972,Israel,2008,24.78,37.83,44.81,14.19,6.36,4.12,NaN,NaN,0.46,NaN,23.77,NaN,33.65,74.13,56.23
713,972,Israel,2007,23.98,38.15,43.56,12.63,5.44,2.36,NaN,NaN,0.53,NaN,45.05,NaN,33.13,65.72,50.16
830,972,Israel,2004,32.06,42.21,44.42,16.62,6.62,3.92,NaN,NaN,0.54,NaN,29.04,NaN,17.27,64.12,62.35
896,972,Israel,2002,25.69,47.41,37.55,14.43,6.99,5.66,NaN,NaN,0.28,NaN,19.88,NaN,17.13,NaN,NaN
928,972,Israel,2001,17.98,35.64,33.19,NaN,5.29,NaN,NaN,NaN,0.28,NaN,47.47,NaN,52.21,NaN,NaN

In [13]:
#Replacing with the closest value.
Behavior_and_Attitudes["Established Business Ownership"]=Behavior_and_Attitudes["Established Business Ownership"].fillna(5.66)
Behavior_and_Attitudes.loc[Behavior_and_Attitudes['economy']=='Israel']

,code,economy,year,Perceived opportunities,Perceived capabilities,Fear of failure rate *,Entrepreneurial intentions,Total early-stage Entrepreneurial Activity (TEA),Established Business Ownership,Entrepreneurial Employee Activity,Motivational Index,Female/Male TEA,Female/Male Opportunity-Driven TEA,High Job Creation Expectation,Innovation,Business Services Sector,High Status to Successful Entrepreneurs,Entrepreneurship as a Good Career Choice
18,972,Israel,2019,46.00,43.34,55.36,21.20,12.69,5.45,5.75,NaN,0.69,NaN,21.73,NaN,27.06,84.13,64.21
70,972,Israel,2018,56.23,41.48,47.47,26.20,12.70,4.20,7.21,3.30,0.70,1.10,22.90,32.90,7.30,84.98,65.96
121,972,Israel,2017,58.29,44.14,47.96,26.42,12.78,3.32,8.55,2.02,0.72,1.00,8.66,26.70,27.30,86.07,65.16
183,972,Israel,2016,53.69,41.10,48.65,20.61,11.31,4.00,7.30,2.60,0.71,1.15,22.10,30.40,37.37,85.50,64.20
243,972,Israel,2015,55.50,41.56,47.76,21.59,11.82,3.90,6.55,3.29,0.65,1.02,23.60,30.78,32.90,86.24,64.48
374,972,Israel,2013,46.50,36.17,51.76,23.97,10.04,5.94,NaN,2.83,0.48,1.03,23.84,34.13,31.91,80.30,60.61
445,972,Israel,2012,30.62,29.31,46.76,12.81,6.53,3.78,4.24,2.41,0.72,NaN,21.33,29.15,24.05,72.39,59.47
564,972,Israel,2010,33.88,39.94,46.71,13.45,5.02,3.25,NaN,2.24,0.50,NaN,32.10,NaN,26.90,73.23,60.12
619,972,Israel,2009,28.99,38.27,37.27,13.62,6.07,4.27,NaN,NaN,0.52,NaN,32.43,NaN,NaN,73.24,61.40
674,972,Israel,2008,24.78,37.83,44.81,14.19,6.36,4.12,NaN,NaN,0.46,NaN,23.77,NaN,33.65,74.13,56.23
713,972,Israel,2007,23.98,38.15,43.56,12.63,5.44,2.36,NaN,NaN,0.53,NaN,45.05,NaN,33.13,65.72,50.16
830,972,Israel,2004,32.06,42.21,44.42,16.62,6.62,3.92,NaN,NaN,0.54,NaN,29.04,NaN,17.27,64.12,62.35
896,972,Israel,2002,25.69,47.41,37.55,14.43,6.99,5.66,NaN,NaN,0.28,NaN,19.88,NaN,17.13,NaN,NaN
928,972,Israel,2001,17.98,35.64,33.19,NaN,5.29,5.66,NaN,NaN,0.28,NaN,47.47,NaN,52.21,NaN,NaN

### Entrepreneurial employee activity, Motivational Index , Female/Male Opportunity-Driven TEA ,Innovation,High Status to Successful Entrepreneurs, Entrepreneurship as a Good Career Choice, Business Services Sector, High Job Creation Expectation --missing values
These columns have more than 100 missing values and will be only used for plotting purposes.

In [14]:
print(f"Missing values in Entrepreneurial Employee Activity is :{len(Behavior_and_Attitudes.loc[Behavior_and_Attitudes['Entrepreneurial Employee Activity'].isna()])}")
print(f"Missing values in Motivational Index is :{len(Behavior_and_Attitudes.loc[Behavior_and_Attitudes['Motivational Index'].isna()])}")
print(f"Missing values in Female/Male Opportunity-Driven TEA is :{len(Behavior_and_Attitudes.loc[Behavior_and_Attitudes['Female/Male Opportunity-Driven TEA'].isna()])}")
print(f"Missing values in Innovation is :{len(Behavior_and_Attitudes.loc[Behavior_and_Attitudes['Innovation'].isna()])}")
print(f"Missing values in High Status to Successful Entrepreneurs is :{len(Behavior_and_Attitudes.loc[Behavior_and_Attitudes['High Status to Successful Entrepreneurs'].isna()])}")
print(f"Missing values in Entrepreneurship as a Good Career Choice is :{len(Behavior_and_Attitudes.loc[Behavior_and_Attitudes['Entrepreneurship as a Good Career Choice'].isna()])}")
print(f"Missing values in  Business Services Sector is :{len(Behavior_and_Attitudes.loc[Behavior_and_Attitudes['Business Services Sector'].isna()])}")
print(f"Missing values in High Job Creation Expectation is :{len(Behavior_and_Attitudes.loc[Behavior_and_Attitudes['High Job Creation Expectation'].isna()])}")

Missing values in Entrepreneurial Employee Activity is :486
Missing values in Motivational Index is :396
Missing values in Female/Male Opportunity-Driven TEA is :577
Missing values in Innovation is :455
Missing values in High Status to Successful Entrepreneurs is :107
Missing values in Entrepreneurship as a Good Career Choice is :110
Missing values in  Business Services Sector is :38
Missing values in High Job Creation Expectation is :3

### Changing column names

In [15]:
Behavior_and_Attitudes.columns = Behavior_and_Attitudes.columns.str.replace(' ','_')
Behavior_and_Attitudes.head()

,code,economy,year,Perceived_opportunities,Perceived_capabilities,Fear_of_failure_rate_*,Entrepreneurial_intentions,Total_early-stage_Entrepreneurial_Activity_(TEA),Established_Business_Ownership,Entrepreneurial_Employee_Activity,Motivational_Index,Female/Male_TEA,Female/Male_Opportunity-Driven_TEA,High_Job_Creation_Expectation,Innovation,Business_Services_Sector,High_Status_to_Successful_Entrepreneurs,Entrepreneurship_as_a_Good_Career_Choice
0,374,Armenia,2019,53.89,70.00,48.22,32.20,20.97,7.84,0.59,NaN,0.64,NaN,30.55,NaN,7.55,73.41,87.24
1,61,Australia,2019,45.74,56.04,47.37,13.02,10.52,6.53,8.28,NaN,0.72,NaN,24.64,NaN,26.31,74.00,56.39
2,375,Belarus,2019,29.52,42.34,37.96,6.59,5.78,2.72,0.49,NaN,0.82,NaN,28.23,NaN,10.16,69.90,70.30
3,55,Brazil,2019,46.37,61.99,35.57,30.17,23.30,16.16,0.62,NaN,0.98,NaN,8.93,NaN,7.57,72.25,75.25
4,101,Canada,2019,67.08,56.80,47.17,11.86,18.16,7.44,5.40,NaN,0.71,NaN,21.18,NaN,12.24,79.90,69.21

In [16]:
Behavior_and_Attitudes=Behavior_and_Attitudes.rename(columns={"economy":"country"})
Behavior_and_Attitudes.head()

,code,country,year,Perceived_opportunities,Perceived_capabilities,Fear_of_failure_rate_*,Entrepreneurial_intentions,Total_early-stage_Entrepreneurial_Activity_(TEA),Established_Business_Ownership,Entrepreneurial_Employee_Activity,Motivational_Index,Female/Male_TEA,Female/Male_Opportunity-Driven_TEA,High_Job_Creation_Expectation,Innovation,Business_Services_Sector,High_Status_to_Successful_Entrepreneurs,Entrepreneurship_as_a_Good_Career_Choice
0,374,Armenia,2019,53.89,70.00,48.22,32.20,20.97,7.84,0.59,NaN,0.64,NaN,30.55,NaN,7.55,73.41,87.24
1,61,Australia,2019,45.74,56.04,47.37,13.02,10.52,6.53,8.28,NaN,0.72,NaN,24.64,NaN,26.31,74.00,56.39
2,375,Belarus,2019,29.52,42.34,37.96,6.59,5.78,2.72,0.49,NaN,0.82,NaN,28.23,NaN,10.16,69.90,70.30
3,55,Brazil,2019,46.37,61.99,35.57,30.17,23.30,16.16,0.62,NaN,0.98,NaN,8.93,NaN,7.57,72.25,75.25
4,101,Canada,2019,67.08,56.80,47.17,11.86,18.16,7.44,5.40,NaN,0.71,NaN,21.18,NaN,12.24,79.90,69.21

In [17]:
Behavior_and_Attitudes=Behavior_and_Attitudes.rename(columns={"Fear_of_failure_rate_*":"Fear_of_failure_rate"})
Behavior_and_Attitudes.head()

,code,country,year,Perceived_opportunities,Perceived_capabilities,Fear_of_failure_rate,Entrepreneurial_intentions,Total_early-stage_Entrepreneurial_Activity_(TEA),Established_Business_Ownership,Entrepreneurial_Employee_Activity,Motivational_Index,Female/Male_TEA,Female/Male_Opportunity-Driven_TEA,High_Job_Creation_Expectation,Innovation,Business_Services_Sector,High_Status_to_Successful_Entrepreneurs,Entrepreneurship_as_a_Good_Career_Choice
0,374,Armenia,2019,53.89,70.00,48.22,32.20,20.97,7.84,0.59,NaN,0.64,NaN,30.55,NaN,7.55,73.41,87.24
1,61,Australia,2019,45.74,56.04,47.37,13.02,10.52,6.53,8.28,NaN,0.72,NaN,24.64,NaN,26.31,74.00,56.39
2,375,Belarus,2019,29.52,42.34,37.96,6.59,5.78,2.72,0.49,NaN,0.82,NaN,28.23,NaN,10.16,69.90,70.30
3,55,Brazil,2019,46.37,61.99,35.57,30.17,23.30,16.16,0.62,NaN,0.98,NaN,8.93,NaN,7.57,72.25,75.25
4,101,Canada,2019,67.08,56.80,47.17,11.86,18.16,7.44,5.40,NaN,0.71,NaN,21.18,NaN,12.24,79.90,69.21

In [18]:
Behavior_and_Attitudes=Behavior_and_Attitudes.rename(columns={"Total_early-stage_Entrepreneurial_Activity_(TEA)":"Total_early_stage_Entrepreneurial_Activity"})
Behavior_and_Attitudes=Behavior_and_Attitudes.rename(columns={"Female/Male_TEA":"Female_Male_TEA"})
Behavior_and_Attitudes=Behavior_and_Attitudes.rename(columns={"Female/Male_Opportunity-Driven_TEA":"Female_Male_Opportunity_Driven_TEA"})
Behavior_and_Attitudes.head()

,code,country,year,Perceived_opportunities,Perceived_capabilities,Fear_of_failure_rate,Entrepreneurial_intentions,Total_early_stage_Entrepreneurial_Activity,Established_Business_Ownership,Entrepreneurial_Employee_Activity,Motivational_Index,Female_Male_TEA,Female_Male_Opportunity_Driven_TEA,High_Job_Creation_Expectation,Innovation,Business_Services_Sector,High_Status_to_Successful_Entrepreneurs,Entrepreneurship_as_a_Good_Career_Choice
0,374,Armenia,2019,53.89,70.00,48.22,32.20,20.97,7.84,0.59,NaN,0.64,NaN,30.55,NaN,7.55,73.41,87.24
1,61,Australia,2019,45.74,56.04,47.37,13.02,10.52,6.53,8.28,NaN,0.72,NaN,24.64,NaN,26.31,74.00,56.39
2,375,Belarus,2019,29.52,42.34,37.96,6.59,5.78,2.72,0.49,NaN,0.82,NaN,28.23,NaN,10.16,69.90,70.30
3,55,Brazil,2019,46.37,61.99,35.57,30.17,23.30,16.16,0.62,NaN,0.98,NaN,8.93,NaN,7.57,72.25,75.25
4,101,Canada,2019,67.08,56.80,47.17,11.86,18.16,7.44,5.40,NaN,0.71,NaN,21.18,NaN,12.24,79.90,69.21

## Framework Conditions

In [19]:
df_data.isna()

,code,economy,year,Financing for entrepreneurs,Governmental support and policies,Taxes and bureaucracy,Governmental programs,Basic school entrepreneurial education and training,Post school entrepreneurial education and training,R&D transfer,Commercial and professional infrastructure,Internal market dynamics,Internal market openness,Physical and services infrastructure,Cultural and social norms
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
919,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
920,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
921,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
922,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [20]:
df_data.isnull().values.any()

True

In [21]:
df_data.isnull().sum()

code                                                    0
economy                                                 0
year                                                    0
Financing for entrepreneurs                             1
Governmental support and policies                       1
Taxes and bureaucracy                                   1
Governmental programs                                   1
Basic school entrepreneurial education and training     1
Post school entrepreneurial education and training     23
R&D transfer                                            1
Commercial and professional infrastructure              1
Internal market dynamics                                1
Internal market openness                                1
Physical and services infrastructure                    1
Cultural and social norms                              19
dtype: int64

In [22]:
df_data

,code,economy,year,Financing for entrepreneurs,Governmental support and policies,Taxes and bureaucracy,Governmental programs,Basic school entrepreneurial education and training,Post school entrepreneurial education and training,R&D transfer,Commercial and professional infrastructure,Internal market dynamics,Internal market openness,Physical and services infrastructure,Cultural and social norms
0,213,Algeria,2011,2.91,3.16,2.63,3.11,2.22,2.67,2.73,3.12,3.40,2.59,3.18,2.99
1,213,Algeria,2012,3.24,3.29,2.80,3.07,2.19,3.32,2.81,2.83,3.75,3.04,3.33,3.17
2,213,Algeria,2013,3.42,3.19,2.56,2.75,2.45,3.16,2.88,2.86,4.00,2.97,3.47,3.19
3,244,Angola,2010,2.11,2.31,2.16,1.97,1.81,2.41,1.72,2.39,2.76,2.00,2.28,2.84
4,244,Angola,2012,2.74,2.74,2.19,2.16,1.93,2.24,1.71,2.65,2.94,2.15,2.28,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,84,Vietnam,2015,2.12,2.62,2.78,2.14,1.57,2.53,2.33,2.77,3.59,2.51,4.07,3.23
919,84,Vietnam,2017,2.27,1.90,2.40,2.09,1.83,2.61,2.19,2.82,4.15,2.79,4.19,3.62
920,260,Zambia,2010,2.16,2.64,2.64,2.68,2.28,2.99,1.94,3.04,3.08,3.07,3.03,2.52
921,260,Zambia,2012,2.14,2.50,2.64,2.21,1.93,2.46,1.85,3.07,3.11,2.90,3.11,2.59
922,260,Zambia,2013,1.91,2.12,2.34,2.15,2.05,2.46,1.68,2.56,3.08,2.72,2.90,2.64

In [23]:
df_data.dtypes

code                                                     int64
economy                                                 object
year                                                     int64
Financing for entrepreneurs                            float64
Governmental support and policies                      float64
Taxes and bureaucracy                                  float64
Governmental programs                                  float64
Basic school entrepreneurial education and training    float64
Post school entrepreneurial education and training     float64
R&D transfer                                           float64
Commercial and professional infrastructure             float64
Internal market dynamics                               float64
Internal market openness                               float64
Physical and services infrastructure                   float64
Cultural and social norms                              float64
dtype: object

In [24]:
df_data = df_data.set_index(["code"])
df_data

,economy,year,Financing for entrepreneurs,Governmental support and policies,Taxes and bureaucracy,Governmental programs,Basic school entrepreneurial education and training,Post school entrepreneurial education and training,R&D transfer,Commercial and professional infrastructure,Internal market dynamics,Internal market openness,Physical and services infrastructure,Cultural and social norms
code,,,,,,,,,,,,,,
213,Algeria,2011,2.91,3.16,2.63,3.11,2.22,2.67,2.73,3.12,3.40,2.59,3.18,2.99
213,Algeria,2012,3.24,3.29,2.80,3.07,2.19,3.32,2.81,2.83,3.75,3.04,3.33,3.17
213,Algeria,2013,3.42,3.19,2.56,2.75,2.45,3.16,2.88,2.86,4.00,2.97,3.47,3.19
244,Angola,2010,2.11,2.31,2.16,1.97,1.81,2.41,1.72,2.39,2.76,2.00,2.28,2.84
244,Angola,2012,2.74,2.74,2.19,2.16,1.93,2.24,1.71,2.65,2.94,2.15,2.28,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Vietnam,2015,2.12,2.62,2.78,2.14,1.57,2.53,2.33,2.77,3.59,2.51,4.07,3.23
84,Vietnam,2017,2.27,1.90,2.40,2.09,1.83,2.61,2.19,2.82,4.15,2.79,4.19,3.62
260,Zambia,2010,2.16,2.64,2.64,2.68,2.28,2.99,1.94,3.04,3.08,3.07,3.03,2.52
260,Zambia,2012,2.14,2.50,2.64,2.21,1.93,2.46,1.85,3.07,3.11,2.90,3.11,2.59
260,Zambia,2013,1.91,2.12,2.34,2.15,2.05,2.46,1.68,2.56,3.08,2.72,2.90,2.64

In [25]:
df_data = df_data.dropna()

In [26]:
df_data.columns = df_data.columns.str.replace(' ','_').str.lower()

df_data

,economy,year,financing_for_entrepreneurs,governmental_support_and_policies,taxes_and_bureaucracy,governmental_programs,basic_school_entrepreneurial_education_and_training,post_school_entrepreneurial_education_and_training,r&d_transfer,commercial_and_professional_infrastructure,internal_market_dynamics,internal_market_openness,physical_and_services_infrastructure,cultural_and_social_norms
code,,,,,,,,,,,,,,
213,Algeria,2011,2.91,3.16,2.63,3.11,2.22,2.67,2.73,3.12,3.40,2.59,3.18,2.99
213,Algeria,2012,3.24,3.29,2.80,3.07,2.19,3.32,2.81,2.83,3.75,3.04,3.33,3.17
213,Algeria,2013,3.42,3.19,2.56,2.75,2.45,3.16,2.88,2.86,4.00,2.97,3.47,3.19
244,Angola,2010,2.11,2.31,2.16,1.97,1.81,2.41,1.72,2.39,2.76,2.00,2.28,2.84
244,Angola,2012,2.74,2.74,2.19,2.16,1.93,2.24,1.71,2.65,2.94,2.15,2.28,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Vietnam,2015,2.12,2.62,2.78,2.14,1.57,2.53,2.33,2.77,3.59,2.51,4.07,3.23
84,Vietnam,2017,2.27,1.90,2.40,2.09,1.83,2.61,2.19,2.82,4.15,2.79,4.19,3.62
260,Zambia,2010,2.16,2.64,2.64,2.68,2.28,2.99,1.94,3.04,3.08,3.07,3.03,2.52
260,Zambia,2012,2.14,2.50,2.64,2.21,1.93,2.46,1.85,3.07,3.11,2.90,3.11,2.59
260,Zambia,2013,1.91,2.12,2.34,2.15,2.05,2.46,1.68,2.56,3.08,2.72,2.90,2.64

In [27]:
df_data = df_data.rename(columns=
                         {"economy":"country",
                         "r&d_transfer":"research_and_development"})
df_data

,country,year,financing_for_entrepreneurs,governmental_support_and_policies,taxes_and_bureaucracy,governmental_programs,basic_school_entrepreneurial_education_and_training,post_school_entrepreneurial_education_and_training,research_and_development,commercial_and_professional_infrastructure,internal_market_dynamics,internal_market_openness,physical_and_services_infrastructure,cultural_and_social_norms
code,,,,,,,,,,,,,,
213,Algeria,2011,2.91,3.16,2.63,3.11,2.22,2.67,2.73,3.12,3.40,2.59,3.18,2.99
213,Algeria,2012,3.24,3.29,2.80,3.07,2.19,3.32,2.81,2.83,3.75,3.04,3.33,3.17
213,Algeria,2013,3.42,3.19,2.56,2.75,2.45,3.16,2.88,2.86,4.00,2.97,3.47,3.19
244,Angola,2010,2.11,2.31,2.16,1.97,1.81,2.41,1.72,2.39,2.76,2.00,2.28,2.84
244,Angola,2012,2.74,2.74,2.19,2.16,1.93,2.24,1.71,2.65,2.94,2.15,2.28,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Vietnam,2015,2.12,2.62,2.78,2.14,1.57,2.53,2.33,2.77,3.59,2.51,4.07,3.23
84,Vietnam,2017,2.27,1.90,2.40,2.09,1.83,2.61,2.19,2.82,4.15,2.79,4.19,3.62
260,Zambia,2010,2.16,2.64,2.64,2.68,2.28,2.99,1.94,3.04,3.08,3.07,3.03,2.52
260,Zambia,2012,2.14,2.50,2.64,2.21,1.93,2.46,1.85,3.07,3.11,2.90,3.11,2.59
260,Zambia,2013,1.91,2.12,2.34,2.15,2.05,2.46,1.68,2.56,3.08,2.72,2.90,2.64

## Creating Database

In [28]:
conn = psycopg2.connect(
   database="postgres", user="postgres", password=f"{password}", host='127.0.0.1', port= '5432'
)

conn.autocommit = True
cursor = conn.cursor()
cursor.execute("SELECT datname FROM pg_database;")
list_database = cursor.fetchall()
dbname = "gem_db"
# try:
if (dbname,) not in list_database:
    cur = conn.cursor()
    cur.execute('CREATE DATABASE ' + dbname)
    cur.close()
    conn.close()
    print("Creating Database...")
    engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/{dbname}")
    connection = engine.connect()
    print('-'*30)
    print("Creating Tables, Please wait...")
    print('-'*30)
    Behavior_and_Attitudes.to_sql("behavior_and_attitudes",engine)
    print("Table Behavior_and_Attitudes created successfully")
    df_data.to_sql("framework_conditions", engine)
    print("Table framework_conditions created successfully")
    connection.close()
    print('-'*30)
    print("Database is ready to use.")
else:
    print("Database is already exists.")
# except:
#     print("Something went wrong.")

Creating Database...
------------------------------
Creating Tables, Please wait...
------------------------------
Table Behavior_and_Attitudes created successfully
Table framework_conditions created successfully
------------------------------
Database is ready to use.

### Getting only the recent data for geoJSON conversion

In [30]:
data_2019=Behavior_and_Attitudes.loc[Behavior_and_Attitudes["year"]==2019]

In [31]:
data_2019.count()

code                                          50
country                                       50
year                                          50
Perceived_opportunities                       50
Perceived_capabilities                        50
Fear_of_failure_rate                          50
Entrepreneurial_intentions                    50
Total_early_stage_Entrepreneurial_Activity    50
Established_Business_Ownership                50
Entrepreneurial_Employee_Activity             50
Motivational_Index                             0
Female_Male_TEA                               50
Female_Male_Opportunity_Driven_TEA             0
High_Job_Creation_Expectation                 50
Innovation                                     0
Business_Services_Sector                      50
High_Status_to_Successful_Entrepreneurs       50
Entrepreneurship_as_a_Good_Career_Choice      50
dtype: int64

In [32]:
#deleting null values
data_2019=data_2019.dropna( axis=1,how='any')

In [33]:
data_2019.count()

code                                          50
country                                       50
year                                          50
Perceived_opportunities                       50
Perceived_capabilities                        50
Fear_of_failure_rate                          50
Entrepreneurial_intentions                    50
Total_early_stage_Entrepreneurial_Activity    50
Established_Business_Ownership                50
Entrepreneurial_Employee_Activity             50
Female_Male_TEA                               50
High_Job_Creation_Expectation                 50
Business_Services_Sector                      50
High_Status_to_Successful_Entrepreneurs       50
Entrepreneurship_as_a_Good_Career_Choice      50
dtype: int64

In [34]:
data_2019

,code,country,year,Perceived_opportunities,Perceived_capabilities,Fear_of_failure_rate,Entrepreneurial_intentions,Total_early_stage_Entrepreneurial_Activity,Established_Business_Ownership,Entrepreneurial_Employee_Activity,Female_Male_TEA,High_Job_Creation_Expectation,Business_Services_Sector,High_Status_to_Successful_Entrepreneurs,Entrepreneurship_as_a_Good_Career_Choice
0,374,Armenia,2019,53.89,70.00,48.22,32.20,20.97,7.84,0.59,0.64,30.55,7.55,73.41,87.24
1,61,Australia,2019,45.74,56.04,47.37,13.02,10.52,6.53,8.28,0.72,24.64,26.31,74.00,56.39
2,375,Belarus,2019,29.52,42.34,37.96,6.59,5.78,2.72,0.49,0.82,28.23,10.16,69.90,70.30
3,55,Brazil,2019,46.37,61.99,35.57,30.17,23.30,16.16,0.62,0.98,8.93,7.57,72.25,75.25
4,101,Canada,2019,67.08,56.80,47.17,11.86,18.16,7.44,5.40,0.71,21.18,12.24,79.90,69.21
5,56,Chile,2019,47.62,75.54,58.07,57.57,36.71,10.61,3.64,0.79,36.34,19.90,74.58,74.36
6,86,China,2019,74.86,67.35,44.65,21.42,8.66,9.33,0.16,0.84,19.52,10.62,92.42,79.32
7,57,Colombia,2019,46.68,72.37,32.69,35.47,22.28,4.27,0.91,0.88,35.53,13.17,65.42,63.82
8,385,Croatia,2019,55.66,71.19,50.66,20.57,10.47,3.57,5.93,0.61,25.12,31.22,46.45,61.49
9,357,Cyprus,2019,38.52,58.16,36.40,21.20,12.17,10.10,6.21,0.57,22.01,22.71,76.69,72.96
10,593,Ecuador,2019,55.85,78.28,35.11,42.50,36.20,14.69,1.29,0.86,23.85,8.07,71.88,72.26
11,20,Egypt,2019,73.53,67.26,54.79,61.58,6.67,1.50,0.23,0.44,37.83,2.61,86.15,79.97
12,49,Germany,2019,52.18,45.79,29.68,9.12,7.63,5.20,6.26,0.60,24.32,24.73,80.68,53.64
13,30,Greece,2019,49.86,51.64,40.62,12.43,8.22,14.33,1.87,0.87,14.75,18.10,49.33,49.56
14,502,Guatemala,2019,67.25,77.42,39.64,52.21,25.05,14.80,1.42,0.80,21.81,9.01,80.80,94.50
15,91,India,2019,83.10,85.20,62.37,33.30,14.97,11.92,0.17,0.75,10.64,2.30,92.30,89.54
16,98,Iran,2019,47.68,68.88,36.20,37.85,10.69,10.15,2.01,0.63,46.73,26.00,86.57,45.29
17,353,Ireland,2019,50.22,42.00,31.39,14.59,12.41,6.58,7.47,0.57,40.88,27.07,20.69,39.93
18,972,Israel,2019,46.00,43.34,55.36,21.20,12.69,5.45,5.75,0.69,21.73,27.06,84.13,64.21
19,39,Italy,2019,45.14,48.09,27.64,5.37,2.79,4.72,0.72,0.60,12.03,18.61,13.06,19.04
20,81,Japan,2019,10.56,13.98,43.51,4.34,5.35,6.95,1.90,0.37,27.71,19.85,62.65,24.60
21,962,Jordan,2019,40.57,61.72,54.35,29.05,9.11,6.55,0.69,0.59,14.97,5.06,85.18,76.29
22,371,Latvia,2019,35.55,56.97,46.59,23.24,15.43,12.91,4.33,0.58,36.30,23.55,60.28,56.82
23,352,Luxembourg,2019,58.01,48.49,45.65,12.92,10.20,4.65,6.65,0.69,30.76,35.31,81.35,58.95
24,261,Madagascar,2019,46.78,73.46,41.01,44.45,19.48,20.17,0.57,1.02,7.52,1.27,80.62,94.41
25,52,Mexico,2019,62.81,70.68,47.74,16.30,12.98,1.82,0.15,0.91,23.03,5.87,67.64,68.06
26,212,Morocco,2019,57.66,62.37,42.52,41.93,11.40,7.89,0.32,0.51,12.79,5.02,68.37,81.52
27,31,Netherlands,2019,64.58,41.92,27.13,9.18,10.38,10.81,5.99,0.80,18.53,22.34,76.38,85.83
28,389,North Macedonia,2019,50.49,60.87,47.22,20.28,6.18,8.00,1.63,0.36,30.14,12.02,67.98,68.01
29,47,Norway,2019,69.49,31.52,30.24,5.74,8.36,5.61,2.64,0.44,22.60,33.36,93.49,66.74
30,968,Oman,2019,72.31,56.32,40.78,62.91,6.94,2.00,1.17,0.72,23.97,8.77,85.67,85.34
31,92,Pakistan,2019,62.30,63.02,54.16,27.90,3.65,4.72,0.51,0.30,12.48,2.52,87.71,80.15
32,507,Panama,2019,53.37,72.90,40.77,40.77,22.68,4.66,0.39,0.74,26.16,9.80,74.61,69.97
33,48,Poland,2019,87.28,50.41,45.86,6.00,5.39,12.76,1.68,0.90,26.68,21.35,76.95,77.65
34,351,Portugal,2019,53.52,61.43,52.59,19.78,12.89,10.96,4.13,0.62,17.33,24.79,71.65,72.74
35,787,Puerto Rico,2019,39.43,55.70,33.19,23.93,13.39,1.25,2.10,0.74,25.52,10.51,55.15,30.70
36,974,Qatar,2019,75.59,75.47,45.17,45.25,14.69,2.96,3.60,1.00,58.28,22.75,87.09,82.10
37,7,Russia,2019,29.60,35.62,45.16,9.84,9.33,5.09,0.55,0.85,35.80,9.10,73.69,70.77
38,966,Saudi Arabia,2019,73.80,83.00,41.78,32.32,13.96,5.35,3.19,1.09,61.90,8.77,79.32,69.68
39,421,Slovakia,2019,36.04,53.05,43.71,13.62,13.33,5.88,3.10,0.63,26.22,25.20,58.43,42.35
40,386,Slovenia,2019,47.59,57.46,42.23,14.98,7.80,8.45,7.00,0.56,19.94,33.60,84.04,63.45
41,27,South Africa,2019,60.41,60.35,49.79,11.90,10.77,3.51,0.37,0.89,30.61,8.97,82.16,78.84
42,82,South Korea,2019,42.89,51.70,7.14,25.65,14.94,13.03,1.35,0.62,21.69,17.03,85.97,54.33
43,34,Spain,2019,36.13,50.82,48.21,7.41,6.15,6.31,1.73,0.94,8.98,33.51,57.85,57.33
44,46,Sweden,2019,79.79,50.69,42.92,10.93,8.25,4.88,5.24,0.55,14.90,19.39,78.72,62.66
45,41,Switzerland,2019,40.66,49.15,23.87,10.74,9.77,11.60,5.35,0.59,28.33,28.11,76.18,40.23
46,886,Taiwan,2019,41.16,41.97,31.03,14.37,8.38,12.75,2.30,0.67,30.41,19.04,61.06,50.50
47,971,United Arab Emirates,2019,66.10,62.16,41.73,38.50,16.41,6.96,8.24,0.70,65.98,23.82,79.02,70.34
48,44,United Kingdom,2019,43.84,55.18,44.49,7.62,9.34,8.18,8.08,0.60,28.38,32.83,76.67,56.38
49,1,United States,2019,67.24,65.51,35.10,13.68,17.42,10.59,6.47,0.91,32.50,30.13,79.66,67.87

In [35]:
data_2019.to_csv('Resources/behavior_and_attitudes_2019.csv',index=False)

### Code testing for app.py files

In [39]:

engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/gem_db')
connection = engine.connect()

data = pd.read_sql("SELECT * FROM framework_conditions WHERE country= 'United States'",connection)
data = data.set_index(["year"])
print(data)

data = pd.DataFrame.from_dict(data, orient='columns')
print(data.to_json())
# data.values.to_list()

      code        country  financing_for_entrepreneurs  \
year
2011     1  United States                         3.80
2001     1  United States                         4.30
2002     1  United States                         4.10
2003     1  United States                         3.57
2004     1  United States                         3.88
2005     1  United States                         4.08
2006     1  United States                         3.91
2007     1  United States                         3.77
2008     1  United States                         3.01
2009     1  United States                         2.72
2010     1  United States                         2.24
2012     1  United States                         2.97
2013     1  United States                         2.62
2014     1  United States                         2.99
2015     1  United States                         3.22
2016     1  United States                         3.11
2017     1  United States                         2.97
2018     1  United States                         3.57
2019     1  United States                         3.00

      governmental_support_and_policies  taxes_and_bureaucracy  \
year
2011                               3.03                   3.12
2001                               3.19                   2.84
2002                               2.92                   3.17
2003                               3.11                   3.15
2004                               2.98                   3.28
2005                               3.38                   3.29
2006                               3.27                   3.19
2007                               3.19                   2.95
2008                               2.57                   2.32
2009                               2.37                   2.11
2010                               2.61                   2.22
2012                               2.77                   2.24
2013                               2.78                   2.22
2014                               2.69                   2.33
2015                               2.62                   2.81
2016                               2.46                   2.50
2017                               3.02                   2.50
2018                               2.53                   2.84
2019                               3.50                   3.02

      governmental_programs  \
year
2011                   3.06
2001                   3.16
2002                   2.99
2003                   3.18
2004                   3.17
2005                   2.98
2006                   3.19
2007                   3.08
2008                   2.83
2009                   2.48
2010                   2.71
2012                   2.65
2013                   2.63
2014                   2.61
2015                   2.47
2016                   2.75
2017                   2.61
2018                   2.67
2019                   2.20

      basic_school_entrepreneurial_education_and_training  \
year
2011                                               2.84
2001                                               2.66
2002                                               2.66
2003                                               2.76
2004                                               2.60
2005                                               2.82
2006                                               2.71
2007                                               2.44
2008                                               2.08
2009                                               1.90
2010                                               1.96
2012                                               2.15
2013                                               2.19
2014                                               2.21
2015                                               2.15
2016                                               1.96
2017                                               2.01
2018                                               2.60
2019                                               2.10

      post_school_entrepreneurial_education_and_training  \
year
2011                                               3.15
2001                                               3.00
2002                                               3.89
2003                                               3.81
2004                                               3.36
2005                                               3.38
2006                                               3.60
2007                                               3.43
2008                                               3.04
2009                                               2.66
2010                                               2.70
2012                                               3.04
2013                                               3.08
2014                                               2.87
2015                                               2.70
2016                                               2.75
2017                                               2.86
2018                                               3.29
2019                                               3.00

      research_and_development  commercial_and_professional_infrastructure  \
year
2011                      3.83                                        3.29
2001                      3.08                                        3.89
2002                      3.08                                        4.06
2003                      3.47                                        4.21
2004                      3.24                                        4.14
2005                      3.20                                        4.07
2006                      3.26                                        4.06
2007                      3.13                                        3.81
2008                      2.77                                        3.24
2009                      2.33                                        3.23
2010                      2.29                                        3.18
2012                      2.75                                        3.29
2013                      2.44                                        3.21
2014                      2.64                                        3.12
2015                      2.54                                        3.22
2016                      2.46                                        3.30
2017                      2.29                                        2.99
2018                      2.65                                        3.53
2019                      2.02                                        4.00

      internal_market_dynamics  internal_market_openness  \
year
2011                      3.33                      4.15
2001                      3.08                      3.44
2002                      2.83                      3.21
2003                      2.88                      3.42
2004                      3.00                      3.22
2005                      2.96                      3.46
2006                      2.81                      3.42
2007                      2.91                      3.29
2008                      3.20                      2.83
2009                      3.22                      2.49
2010                      2.87                      2.63
2012                      2.81                      2.69
2013                      3.24                      2.91
2014                      3.30                      2.67
2015                      3.39                      2.65
2016                      3.03                      2.85
2017                      2.24                      2.31
2018                      3.29                      2.93
2019                      2.94                      2.00

      physical_and_services_infrastructure  cultural_and_social_norms
year
2011                                  3.45                       3.00
2001                                  4.33                       3.98
2002                                  4.52                       4.52
2003                                  4.65                       4.59
2004                                  4.45                       4.31
2005                                  4.75                       4.54
2006                                  4.65                       4.47
2007                                  4.39                       3.87
2008                                  3.64                       3.91
2009                                  3.84                       3.85
2010                                  3.56                       3.79
2012                                  4.19                       4.12
2013                                  4.21                       3.92
2014                                  3.98                       3.75
2015                                  4.18                       4.02
2016                                  4.11                       4.07
2017                                  3.81                       4.03
2018                                  4.19                       4.30
2019                                  4.13                       4.50
{"code":{"2011":1,"2001":1,"2002":1,"2003":1,"2004":1,"2005":1,"2006":1,"2007":1,"2008":1,"2009":1,"2010":1,"2012":1,"2013":1,"2014":1,"2015":1,"2016":1,"2017":1,"2018":1,"2019":1},"country":{"2011":"United States","2001":"United States","2002":"United States","2003":"United States","2004":"United States","2005":"United States","2006":"United States","2007":"United States","2008":"United States","2009":"United States","2010":"United States","2012":"United States","2013":"United States","2014":"United States","2015":"United States","2016":"United States","2017":"United States","2018":"United States","2019":"United States"},"financing_for_entrepreneurs":{"2011":3.8,"2001":4.3,"2002":4.1,"2003":3.57,"2004":3.88,"2005":4.08,"2006":3.91,"2007":3.77,"2008":3.01,"2009":2.72,"2010":2.24,"2012":2.97,"2013":2.62,"2014":2.99,"2015":3.22,"2016":3.11,"2017":2.97,"2018":3.57,"2019":3.0},"governmental_support_and_policies":{"2011":3.03,"2001":3.19,"2002":2.92,"2003":3.11,"2004":2.98,"2005":3.38,"2006":3.27,"2007":3.19,"2008":2.57,"2009":2.37,"2010":2.61,"2012":2.77,"2013":2.78,"2014":2.69,"2015":2.62,"2016":2.46,"2017":3.02,"2018":2.53,"2019":3.5},"taxes_and_bureaucracy":{"2011":3.12,"2001":2.84,"2002":3.17,"2003":3.15,"2004":3.28,"2005":3.29,"2006":3.19,"2007":2.95,"2008":2.32,"2009":2.11,"2010":2.22,"2012":2.24,"2013":2.22,"2014":2.33,"2015":2.81,"2016":2.5,"2017":2.5,"2018":2.84,"2019":3.02},"governmental_programs":{"2011":3.06,"2001":3.16,"2002":2.99,"2003":3.18,"2004":3.17,"2005":2.98,"2006":3.19,"2007":3.08,"2008":2.83,"2009":2.48,"2010":2.71,"2012":2.65,"2013":2.63,"2014":2.61,"2015":2.47,"2016":2.75,"2017":2.61,"2018":2.67,"2019":2.2},"basic_school_entrepreneurial_education_and_training":{"2011":2.84,"2001":2.66,"2002":2.66,"2003":2.76,"2004":2.6,"2005":2.82,"2006":2.71,"2007":2.44,"2008":2.08,"2009":1.9,"2010":1.96,"2012":2.15,"2013":2.19,"2014":2.21,"2015":2.15,"2016":1.96,"2017":2.01,"2018":2.6,"2019":2.1},"post_school_entrepreneurial_education_and_training":{"2011":3.15,"2001":3.0,"2002":3.89,"2003":3.81,"2004":3.36,"2005":3.38,"2006":3.6,"2007":3.43,"2008":3.04,"2009":2.66,"2010":2.7,"2012":3.04,"2013":3.08,"2014":2.87,"2015":2.7,"2016":2.75,"2017":2.86,"2018":3.29,"2019":3.0},"research_and_development":{"2011":3.83,"2001":3.08,"2002":3.08,"2003":3.47,"2004":3.24,"2005":3.2,"2006":3.26,"2007":3.13,"2008":2.77,"2009":2.33,"2010":2.29,"2012":2.75,"2013":2.44,"2014":2.64,"2015":2.54,"2016":2.46,"2017":2.29,"2018":2.65,"2019":2.02},"commercial_and_professional_infrastructure":{"2011":3.29,"2001":3.89,"2002":4.06,"2003":4.21,"2004":4.14,"2005":4.07,"2006":4.06,"2007":3.81,"2008":3.24,"2009":3.23,"2010":3.18,"2012":3.29,"2013":3.21,"2014":3.12,"2015":3.22,"2016":3.3,"2017":2.99,"2018":3.53,"2019":4.0},"internal_market_dynamics":{"2011":3.33,"2001":3.08,"2002":2.83,"2003":2.88,"2004":3.0,"2005":2.96,"2006":2.81,"2007":2.91,"2008":3.2,"2009":3.22,"2010":2.87,"2012":2.81,"2013":3.24,"2014":3.3,"2015":3.39,"2016":3.03,"2017":2.24,"2018":3.29,"2019":2.94},"internal_market_openness":{"2011":4.15,"2001":3.44,"2002":3.21,"2003":3.42,"2004":3.22,"2005":3.46,"2006":3.42,"2007":3.29,"2008":2.83,"2009":2.49,"2010":2.63,"2012":2.69,"2013":2.91,"2014":2.67,"2015":2.65,"2016":2.85,"2017":2.31,"2018":2.93,"2019":2.0},"physical_and_services_infrastructure":{"2011":3.45,"2001":4.33,"2002":4.52,"2003":4.65,"2004":4.45,"2005":4.75,"2006":4.65,"2007":4.39,"2008":3.64,"2009":3.84,"2010":3.56,"2012":4.19,"2013":4.21,"2014":3.98,"2015":4.18,"2016":4.11,"2017":3.81,"2018":4.19,"2019":4.13},"cultural_and_social_norms":{"2011":3.0,"2001":3.98,"2002":4.52,"2003":4.59,"2004":4.31,"2005":4.54,"2006":4.47,"2007":3.87,"2008":3.91,"2009":3.85,"2010":3.79,"2012":4.12,"2013":3.92,"2014":3.75,"2015":4.02,"2016":4.07,"2017":4.03,"2018":4.3,"2019":4.5}}

In [41]:


data = pd.read_sql("SELECT year,financing_for_entrepreneurs FROM framework_conditions WHERE country= 'United States'",connection)
# data = data.set_index(["financing_for_entrepreneurs"])
# data = data.set_index(["year"])
# print(data)
print(data)
x = []
y = []
for index, row in data.iterrows():
    x.append(row["year"])
    y.append(row["financing_for_entrepreneurs"])
f = {}
f["year"]=x
f["test"]=y
#data = pd.DataFrame.from_dict(data, orient='columns')
#data1 = pd.DataFrame(data=x, dtype=int, columns=["year"])
#data1["test"]=y
#data1=data1.set_index("year")
# print(data1.to_json())
#data1 = data1.append(y)
#print(data1)
print(json.dumps(f))
# print(data.to_json())
# json1 = data.to_json()
# print(json1)
# data1.to_json()

    year  financing_for_entrepreneurs
0   2011                         3.80
1   2001                         4.30
2   2002                         4.10
3   2003                         3.57
4   2004                         3.88
5   2005                         4.08
6   2006                         3.91
7   2007                         3.77
8   2008                         3.01
9   2009                         2.72
10  2010                         2.24
11  2012                         2.97
12  2013                         2.62
13  2014                         2.99
14  2015                         3.22
15  2016                         3.11
16  2017                         2.97
17  2018                         3.57
18  2019                         3.00
{"year": [2011.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0], "test": [3.8, 4.3, 4.1, 3.57, 3.88, 4.08, 3.91, 3.77, 3.01, 2.72, 2.24, 2.97, 2.62, 2.99, 3.22, 3.11, 2.97, 3.57, 3.0]}

In [42]:
df_data.columns

Index(['country', 'year', 'financing_for_entrepreneurs',
       'governmental_support_and_policies', 'taxes_and_bureaucracy',
       'governmental_programs',
       'basic_school_entrepreneurial_education_and_training',
       'post_school_entrepreneurial_education_and_training',
       'research_and_development',
       'commercial_and_professional_infrastructure',
       'internal_market_dynamics', 'internal_market_openness',
       'physical_and_services_infrastructure', 'cultural_and_social_norms'],
      dtype='object')

In [43]:
countryData = pd.read_sql("SELECT * FROM framework_conditions WHERE country= 'United States' AND year=2019",connection)

labels=['country', 'financing_for_entrepreneurs','governmental_support_and_policies', 'taxes_and_bureaucracy',
   'governmental_programs','basic_school_entrepreneurial_education_and_training', 'post_school_entrepreneurial_education_and_training', 'research_and_development',
   'commercial_and_professional_infrastructure','internal_market_dynamics', 'internal_market_openness','physical_and_services_infrastructure', 'cultural_and_social_norms']
dataPoints=[]

for item in labels:
    dataPoints.append(countryData[item][0])

c = {}
c["labels"]=labels
c["dataPoints"]=dataPoints
print(countryData)
print(dataPoints)
print(c)
print(json.dumps(c))

   code        country  year  financing_for_entrepreneurs  \
0     1  United States  2019                          3.0

   governmental_support_and_policies  taxes_and_bureaucracy  \
0                                3.5                   3.02

   governmental_programs  basic_school_entrepreneurial_education_and_training  \
0                    2.2                                                2.1

   post_school_entrepreneurial_education_and_training  \
0                                                3.0

   research_and_development  commercial_and_professional_infrastructure  \
0                      2.02                                         4.0

   internal_market_dynamics  internal_market_openness  \
0                      2.94                       2.0

   physical_and_services_infrastructure  cultural_and_social_norms
0                                  4.13                        4.5
['United States', 3.0, 3.5, 3.02, 2.2, 2.1, 3.0, 2.02, 4.0, 2.94, 2.0, 4.13, 4.5]
{'labels': ['country', 'financing_for_entrepreneurs', 'governmental_support_and_policies', 'taxes_and_bureaucracy', 'governmental_programs', 'basic_school_entrepreneurial_education_and_training', 'post_school_entrepreneurial_education_and_training', 'research_and_development', 'commercial_and_professional_infrastructure', 'internal_market_dynamics', 'internal_market_openness', 'physical_and_services_infrastructure', 'cultural_and_social_norms'], 'dataPoints': ['United States', 3.0, 3.5, 3.02, 2.2, 2.1, 3.0, 2.02, 4.0, 2.94, 2.0, 4.13, 4.5]}
{"labels": ["country", "financing_for_entrepreneurs", "governmental_support_and_policies", "taxes_and_bureaucracy", "governmental_programs", "basic_school_entrepreneurial_education_and_training", "post_school_entrepreneurial_education_and_training", "research_and_development", "commercial_and_professional_infrastructure", "internal_market_dynamics", "internal_market_openness", "physical_and_services_infrastructure", "cultural_and_social_norms"], "dataPoints": ["United States", 3.0, 3.5, 3.02, 2.2, 2.1, 3.0, 2.02, 4.0, 2.94, 2.0, 4.13, 4.5]}

In [44]:
indicators={
        'Financing for Entrepreneurs':'financing_for_entrepreneurs',
        'Governmental Support and Policies':'governmental_support_and_policies', 
        'Taxes and Bureaucracy':'taxes_and_bureaucracy',
        'Governmental Programs':'governmental_programs',
        'Basic School Entrepreneurial Education and Training':'basic_school_entrepreneurial_education_and_training', 
        'Post School Entrepreneurial Education and Training':'post_school_entrepreneurial_education_and_training', 
        'Research and Development':'research_and_development',
        'Commercial and Professional Infrastructure':'commercial_and_professional_infrastructure',
        'Internal Market Dynamics':'internal_market_dynamics', 
        'Internal Market Openness':'internal_market_openness',
        'Physical and Services Infrastructure':'physical_and_services_infrastructure', 
        'Cultural and Social Norms':'cultural_and_social_norms'}

keys = []
values=[]

for key in indicators.keys():
    keys.append(key)

    
for value in indicators.values():
    values.append(value)
    
data_dict = {}

# data_dict["country"] = country_list
data_dict["indicator_keys"] = keys
data_dict["indicator_values"] = values
print(keys)
print(data_dict)

['Financing for Entrepreneurs', 'Governmental Support and Policies', 'Taxes and Bureaucracy', 'Governmental Programs', 'Basic School Entrepreneurial Education and Training', 'Post School Entrepreneurial Education and Training', 'Research and Development', 'Commercial and Professional Infrastructure', 'Internal Market Dynamics', 'Internal Market Openness', 'Physical and Services Infrastructure', 'Cultural and Social Norms']
{'indicator_keys': ['Financing for Entrepreneurs', 'Governmental Support and Policies', 'Taxes and Bureaucracy', 'Governmental Programs', 'Basic School Entrepreneurial Education and Training', 'Post School Entrepreneurial Education and Training', 'Research and Development', 'Commercial and Professional Infrastructure', 'Internal Market Dynamics', 'Internal Market Openness', 'Physical and Services Infrastructure', 'Cultural and Social Norms'], 'indicator_values': ['financing_for_entrepreneurs', 'governmental_support_and_policies', 'taxes_and_bureaucracy', 'governmental_programs', 'basic_school_entrepreneurial_education_and_training', 'post_school_entrepreneurial_education_and_training', 'research_and_development', 'commercial_and_professional_infrastructure', 'internal_market_dynamics', 'internal_market_openness', 'physical_and_services_infrastructure', 'cultural_and_social_norms']}